/*PART ONE*/






/*CHAPTER 1*/

.chapter1_styles{

    background-color: #e8634a;

}





#fermat_eq_chpt1{

    font-size:50px;
    color: #636981;

}

#gauss_quote1{

    width:500px;
    font-family: 'Tangerine',serif;
    font-weight:700;
    font-size:30pt;
    margin:auto;

}


/*/Chapter 2: What Fermat Knew*/

.whatfermatknew_styles{

    background-color: #425866;

}


/*CHAPTER 3 STYLES*/

.chapter3_styles{
    background-color: #e8634a;

}