
<div id="title_container">
    <!--<img id="book_head_image" src="../../../images/mathBackground3.jpg">-->
    <div id="book_image_filter"></div>

    <div id="book_title_equation_box"> <div id="book_title_equation">$$x^n + y^n = z^n$$</div></div>



    <div id="book_title">
        <div id="book_title_first_line" class="secondTitleFont">Field Guide</div>
        <div id="book_title_second_line" class="secondTitleFont">to the</div>
        <div id="book_title_third_line">
            <div id="book_title_Algebra" class="firstTitleFont">PROOF</div>
            <div id="book_title_Of" class="secondTitleFont">of</div>
        </div>
        <div id="book_title_fourth_line" class="firstTitleFont">

            <div id="book_title_fermat" class="firstTitleFont">FERMAT's</div><div id="book_title_last" class="secondTitleFont">Last</div>
        </div>
        <div id="book_title_fifth_line" class="firstTitleFont"><div id="book_title_theorem">{ THEOREM }</div></div>

    </div>


</div>



<!--<div id="note_to_reader">-->


    <!--<div id="note_to_reader_heading" class="firstTitleFont">-->

       <!--<div class="chapter_body">-->
        <!--<p>A Note To the Reader</p>-->

        <!--<p>Fermat and his ilk were well versed in basic properties of division, primes and modular arithmetic.-->
            <!--One of Fermat's most famous results - his so called "Little Theorem" - is in fact a result concerning-->
            <!--modular arithmetic.</p>-->

        <!--<p>In the remainder of this work I take for granted that the reader already has a basic understanding of,-->
            <!--if not yet sufficient practice with, these concepts.-->

            <!--For a more precise characterization, the reader should be comfortable with most of the topics presented-->
            <!--in the first 90 pages of LC, which covers Euclid's Algorithm, Unique Factorization and Congruences.-->

            <!--As a very crude litmus test, if you cannot make sense of the following statement (and rather quickly):-->
            <!--"a prime number p must be congruent to $1$ mod $4$ or congruent to $3$ mod $4$" then you are definitely-->
            <!--going to want to skim through the first few chapters of LC or a similar introduction to the above concepts.</p>-->
        <!--<p></p>-->

       <!--</div>-->
       <!--</div>-->


<!--</div>-->


